.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classesList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
}

.classesList__item {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.item-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.form-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}
.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  cursor: pointer;
}
.form-group button:hover {
  background-color: #218838;
}

